@import 'tailwindcss';

body {
  font-family: "Geist", -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --card-opacity: 1;
  --chart-opacity: 1;

  --card: oklch(1 0 0 / var(--card-opacity));
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --border: oklch(0.922 0 0);

  --color-ahead: oklch(0.7 0.15 145);
  --color-behind: oklch(0.6 0.2 25);
  --color-connection-lost: oklch(0.55 0.22 25);
  --color-best-segment: #D8AF1F;
  --color-behind-gaining: #CC5C52;
  --color-behind-losing: #CC1200;
  --chart-current: color-mix(in srgb, rgb(115, 145, 252) 70%, white);
  --chart-pb: color-mix(in srgb, rgb(75, 192, 192) 70%, white);

  --foreground: var(--primary);
}


@theme inline {
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-ahead: var(--color-ahead);
  --color-behind: var(--color-behind);
  --color-connection-lost: var(--color-connection-lost);
  --color-best-segment: var(--color-best-segment);
  --color-behind-gaining: var(--color-behind-gaining);
  --color-behind-losing: var(--color-behind-losing);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-transparent text-foreground w-full;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}